
body {
  background: url(../Assets/assets/bg-desktop.jpg) no-repeat top center/cover;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5pt;
}
body h2 {
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5pt;
  color: rgb(226, 43, 134);
}
body p {
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5pt;
  color: rgba(255, 255, 255, .85);
}
.trajetoria {
  display: block;
  margin: auto;
  width: 95%;
}

.atualmente {
  display: block;
  margin: auto;
  width: 95%;
}
.atualmente a {
  text-decoration: none;
  color: rgba(255, 158, 252, 0.9);
}
.atualmente a:hover {
  text-decoration: underline;
}
.futuro {
  display: block;
  margin: auto;
  width: 95%;
}
/* link para voltar a pag inicial*/
.voltar {
  display: block;
  text-align: center;
}
.voltar a {
  color: rgb(202, 149, 200);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  transition: background .2s ease-in-out;
}
.voltar a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.500);
}