
body {
  background: url(../Assets/assets/bg-desktop.jpg);
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5pt;
  color: rgb(226, 24, 216);
}

.trajetoria {
  display: block;
  margin: auto;
  width: 98%;
}

.atualmente {
  display: block;
  margin: auto;
  width: 98%;
}
.atualmente a {
  text-decoration: none;
  color: rgb(202, 149, 200);
}
.atualmente a:hover {
  text-decoration: underline;
}
.futuro {
  display: block;
  margin: auto;
  width: 98%;
}
/* link para voltar a pag inicial*/
.voltar a {
  display: block;
  color: rgb(202, 149, 200);
  text-decoration: none;
  margin-top: 25px;
  margin-left: 5px;
}
.voltar a:hover {
  text-decoration: underline;
}